.Homepage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
}

button {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  text-decoration: none!important;
  color: rgb(66, 183, 255)!important;
  font-size: 0.9em!important;
}

button:hover{
  color: lime!important;
}
