.About {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
}

img {
  height: 300px;
  width: 240px;
  border-radius: 50%;
  border: 1px solid rgb(149, 237, 203)!important;
}