.About {
  margin-top: 65px !important;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
  border: 1.5px solid rgb(163, 245, 243)!important;
}

.linkedIn {
  height: 300px;
  width: 210px;
  border-radius: 50%;
}

a:hover {
  text-decoration: none !important;
}

a {
  color: rgb(66, 183, 255)!important
}

.skills {
  background-color: rgb(163, 245, 243);
}

h4 {
  margin-bottom: 5px !important;
  margin-top: 15px !important;
}

.click {
  margin-bottom: 20px !important;
  font-size: 0.7em!important;
  margin-right: 25px;
}

.microblog {
  width: 180px;
  height: 150px;
  border-radius: 30px;
  margin-right: 30px;
  margin-top: 5px;
}

.warbler {
  width: 180px;
  height: 150px;
  border-radius: 30px;
  margin-right: 30px;
  margin-top: 5px;
}

.color {
  width: 180px;
  height: 150px;
  border-radius: 30px;
  margin-right: 30px;
  margin-top: 5px;
}

.projects {
 margin-left: 25px;
}
