.Georgie {
  margin-top: 70px !important;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Inconsolata", monospace;
  font-size: 1.2em;
  border: 1.5px solid rgb(163, 245, 243) !important;
}

.carousel {
  width: 50%;
}

.carousel-item > img {
  width: 90%;
  height: 500px;
  border-radius: 30px!important;
}
